<h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>

@{ 
    var postPages = Model.DocumentList(Keys.PageDocuments).OrderByDescending(x => x.Get<DateTime>(BlogKeys.Published)); 
    string tag = Model.String(BlogKeys.Tag).ToLowerInvariant().Replace(' ', '-'); 
    tag = tag.StartsWith(".") ? tag.Substring(1) : tag; 
}

<ul class="grid ">
    @foreach(var post in postPages){
        @Html.Partial("../_PostSummary.cshtml", post)
    }
</ul>
<div class="clear"></div>

<a href="@Context.GetLink("tags/index.html")">Back To tags</a>
