$header_color: rgb(98, 101, 102);
$header_font_color:white;
$main_color: rgb(224, 237, 240);
$main_font_color: rgb(39, 39, 39);
$code_border_color: rgb(195, 215, 218);
$article_color: white;
$article_font_color: rgb(71, 71, 71);
$article_border_color: rgb(155, 155, 155);
$main_width: 800px;
$tag_color: rgb(24, 61, 163);
$tag_font_color: rgb(194, 194, 194);