$header_color: rgb(98, 101, 102);
$header_font_color:white;
$main_color: rgb(224, 237, 240);
$main_font_color: rgb(39, 39, 39);
$code_border_color: rgb(195, 215, 218);
$article_color: white;
$article_font_color: rgb(71, 71, 71);
$article_border_color: rgb(155, 155, 155);
$main_width: 800px;

@import "base";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
    ;
    grid-template-rows: 32px 1fr;
}

nav {
    grid-area: header;
    margin: 0;
    padding: 0;
    background-color: $header_color;
    color: $header_font_color;

    a {
        padding-top: 0.3em;
        text-decoration: none;
        color: $header_font_color;
        display: block;
        width: 100%;
        height: 100%;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 100%;
        display: inline-block;
        height: 100%;
    }

    ul {
        display: inline-block;
        letter-spacing: -.4em;
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            box-sizing: border-box;
            letter-spacing: 0;
            margin: 0;
            border: 1px solid black;
            display: inline-block;
            text-align: center;
            width: 8em;
            height: 100%;

            a.selected {
                background-color: $header_font_color;
                color: $header_color;
            }

            a:hover {
                background-color: $header_font_color;
                color: $header_color;
            }
        }
    }
}

main {
    grid-area: main;
    background-color: $main_color;
    color: $main_font_color;
    overflow-y: auto;

    article {
        width: $main_width;
        margin: 1em auto;
        padding: 1em;

        color: $article_font_color;

        pre {
            background-color: #f0f0f0;
            padding: 1em;
            border: solid 1px $code_border_color;
            border-radius: 0.3em;
            overflow-x: auto;
        }

        p code {
            background-color: #f0f0f0;
            padding: 0.3em;
            border: solid 1px $code_border_color;
            border-radius: 0.3em;
        }
    }

    article.grid {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $article_color;
        border: solid 1px $article_border_color;
        border-radius: 1em;
        box-shadow: 5px 5px 10px 0px rgb(129, 125, 161);
    }

    ul.grid {
        li {
            float: left;
            list-style: none;
            margin: 2em;
            width: 300px;
            height: 300px;
        }
    }
}

div.clear {
    clear: both;
    height: 2em;
}

div.shadow {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    background-color: black;
    box-shadow: 0px 0px 10px 3px black;
}